/*
:root {
    --dark-grayish-green: #868a7b;
    --very-dark-gray: #333;
    --whitle: #fff;
    --fullsize: 100%;
    @define-mixin fontstyle $size, $color {
        font-size: $(size)px;
        font-size: calc($size / 16)rem;
        color: $color;
    }
}

html, body {
    width: var(--fullsize);
    height: var(--fullsize);
    padding: 0;
    margin: 0;
    min-width: var(--fullsize);
    max-width: var(--fullsize);
    overflow: hidden;
    background: var(--dark-grayish-green)
}
h3 {
    @mixin fontstyle 20, #fff;
}

h3:hover {
    @mixin fontstyle 32, #fff;
}
.social-list {
    list-style: none;
    overflow: hidden;
}
.social-icon {
    float: left;
    width: 50px;
    height: 50px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

@each $media in twitter, linkedin, youtube {
    .icon-$(media) {
        background: resolve('icons/$(media).png');
    }
}
.para {
    @nest & p:nth-child(1) {
        color: red;
    }
    @nest & p:nth-child(2) {
        color: blue;
    }
}

@component content {
    width: 500px;

    @descendent alert {
        font-family: Tahoma, Geneva, Arial, sans-serif;
        font-size: 100%;
        color: #555;
        border-radius: .5em;
        line-height: 2;
        margin-bottom: .5em;
    }

    @modifier error {
        background: #ffecec;
        border: .0625rem solid #f5aca6;
    }
    @modifier error:hover {
        opacity: .8;
    }

    @modifier success {
        background: #e9ffd9;
        border: .0625rem solid #a6ca8a;
    }
    @modifier success:hover {
        opacity: .8;
    }

    @modifier warning {
        background: #fff8c4;
        border: .0625rem solid #f2c779;
    }
    @modifier warning:hover {
        opacity: .8;
    }

    @modifier notice {
        background: #e3f7fc;
        border: .0625rem solid #8ed9f6;
    }
    @modifier notice:hover {
        opacity: .8;
    }
}

@custom-media --ipad (max-device-width: 768px) and (min-device-width: 1024px);
@media (--ipad) {
    h2 {
        font-size: 0.8rem;
    }
}
@custom-media --small-viewport all and (min-width: 600px);
@custom-media --medium-viewport all and (min-width: 960px);

@media (--small-viewport) {
    .responsive {
        font-size: 20px;
    }
}
@media (--medium-viewport) {
    .responsive {
        font-size: 40px;
    }
}

#retina img {
    image-size: responsive;
}
#retina img {
    background: resolve('icons/apple.png') at-2x;
}
@custom-media --hi-resolution screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
@media (--hi-resolution) {
    #retina img {
        content: url('./images/icons/apple@2x.png');
    }
}

html {
    font-size: responsive 12px 21px;
    font-range: 420px 1280px;
}*/

.social-icon {
    width: 3em;
    height: 3em;
}


@font-face {
  font-family: 'iconfont';
  font-path: '//at.alicdn.com/t/font_ffvo874e36a5g66r';
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before { content: "\e65a"; }
.icon-icon:before { content: "\e607"; }
.icon-shenpizhong:before { content: "\e602"; }
.icon-yichexiao:before { content: "\e603"; }
.icon-shenpitongguo:before { content: "\e604"; }
.icon-shenpibutongguo:before { content: "\e605"; }
.icon-jingshi:before { content: "\e606"; }
.icon-jiantou:before { content: "\e608"; }
.icon-morentouxiang-:before { content: "\e609"; }

.icon-twitter {
    background: resolve('icons/twitter.png') no-repeat 0 0 / cover;
}
.icon-apple {
    background: #fff resolve('icons/apple.png') no-repeat 0 0 / cover;
}
.icon-youtube {
    background: #fff resolve('icons/youtube.png') no-repeat 0 0 / cover;
}